FROM "quay.io/mireiawen/debian:latest"

SHELL [ "/bin/bash", "-e", "-u", "-o", "pipefail", "-c" ]
RUN echo -e "{{ LOCALES }}" >"/etc/locale.gen" && \
        /usr/sbin/locale-gen

RUN echo "{{ CONTAINER_NAME }}" >"/etc/system_name" && \
    useradd \
	--comment "{{ NAME }}" \
	--home-dir "/home/{{ USERNAME }}" \
	--user-group \
	--groups "sudo,docker" \
	--create-home \
	--uid "{{ CONTAINER_UID }}" \
	"{{ USERNAME }}"

# hadolint ignore=DL3000
WORKDIR "/home/{{ USERNAME }}"

ENV USERNAME="{{ USERNAME }}"
ENTRYPOINT ["/docker-entrypoint.sh"]
